body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.skipcolor {
    color: orange;
}

.section1 {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.half-width {
    width: 40%;
    padding-left: 6%;
}

.half-width img {
    width: 100%
}

.pstyle {
    margin-top: 200px;
    font-weight: bolder;
    font-size: 50px;
}

a {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
    color: white;

}

a:hover {
    background-image: linear-gradient(gray black);
}

.contactme {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: white;
    width: 400px;

}

.contactlink {
    padding-top: 70px;
}

.background {
    background-image: url(images/backgroundtwo.jpg);
    background-repeat: no-repeat;
}

.aboutme {
    font-size: 50px;
    font-weight: bolder;
    padding-top: 40px;
    color: gray;

}

.recipies {
    text-align: center;
    padding-top: 20px;
}

.box {
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2% 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}

.imageradious {
    border-radius: 15px;
}